@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

html {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

body {
    background-color: #f9fafb !important; /* Override Bootstrap */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
    gap: 5px;
}

/* Navigation Menu */
.nav-bar {
    background: radial-gradient(circle at center, #0f172a 0%, #0a0f1e 60%, #060913 100%);
    /* width: inherit; */
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
}

.nav-bar button {
    display: none;
}

.nav-bar img {
    width: 125px;
} 

.nav-bar .nav-links {
    flex: 1;
    text-align: right;
    font-size: larger;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-bar a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.nav-bar .nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #74b9ff;
    display: block;
    margin: auto;
    transition: .3s;
}

.nav-bar .nav-links ul li:hover::after {
    width: 100%;
}

/* Main Content */
main {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 5px;
}

    /* Left Nav Bar */
    .user-nav-container {
        display: flex;
        flex-direction: column;
        width: 12.5rem;
        height: 100%;
        border-right: 2px solid black;
        gap: 25px;
    }

    .user-nav-container #dashboard,
    #ai,
    #matchups,
    #rankings,
    #settings {
        width: 100%;
        border-bottom: 1px solid black;
        cursor: pointer;
    }

    .user-nav-container #user-nav-link {
        padding-left: 5px;
    }

    .user-nav-container #user-nav-link:hover {
        font-weight: 600;
    }

    /* Main Container */
    .main-container {
        width: 100%;
    }

        /* AI Container */
       

        /* Matchup Container */
        

        /* Rankings Container */

        /* Settings Container */

        /* Connect to Yahoo button */
        .settings-container #content #yahoo-img {
            width: 16rem;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
            border-radius: 36px;

            &:hover {
                transform: translateY(-2px) scale(1.03);
                box-shadow: 0 8px 24px 0 rgba(15, 23, 42, 0.22);
            }
        }

/* Main */
main {
    background: linear-gradient(135deg,
            #11182b 0%,
            #0e1425 40%,
            #0b1121 70%,
            #070d1b 100%
    );
    color: white;
        
}
/* Dashboard */
.dashboard-intro {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Content */
.selections {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    font-size: 1rem;
    align-items: center;
    justify-content: flex-start;
    margin: 1rem 0;
}
#year, #leagues {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    font-weight: 500;
    min-width: 150px;
    /* appearance: none; */
    color: black;
}

#refresh {
    background-color: #74b9ff;
    color: black;
    padding: .5rem 1.2rem;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#refresh:hover {
    color:#74b9ff;
    background: black;
}

/* Left Dashboard Menu */

/* Footer Style */
footer {
    background-color: #111;
}

.footer-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 24px;
    gap: 20px;
}

.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    background: #000;
    color: #fff;
    text-align: center;
}

.footer-bottom p {
    color: white;
}

.footer-design {
    color: #74b9ff;
    font-weight: 400;
    margin: 0px 5px;
}

/* - - - Global Style - - - */
.dashboard-container,
.ai-container,
.matchup-container,
.rankings-container,
.settings-container {
    /* display: flex */
    flex-direction: column;
    height: 100%;
    width: 100%;
    display: none;
}

.dashboard-container {
    display: flex;
}

#header {
    display: flex;
    border-bottom: 2px solid black;
    padding-left: 15px;
    padding-right: 15px;
}

#header p {
    font-weight: 900;
    font-size: 36px;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 5px;
}

#content {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}