/* Dashboard Container */
.dashboard-container #header {
    justify-content: space-between;
}

.dashboard-container #content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    overflow-y: auto;
}

.dashboard-container #content .roster {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.dashboard-container table {
    border: 1px solid black;
    text-align: center;
}

.dashboard-container tr, th, td {
    border: 1px solid black;
    padding: 10px;
}

/* Dashboard */
/* .dashboard-intro {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
} */

/* Content */
.selections {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* gap: 1.2rem; */
    font-size: 1rem;
    /* align-items: center; */
    /* justify-content: flex-start; */
    margin: 1rem 0;
}

#leagues {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #fff;
    font-weight: 500;
    min-width: 150px;
    /* appearance: none; */
    color: black;
}

#refresh {
    background-color: #207ad4;
    color: white;
    padding: .5rem 1.2rem;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#refresh:hover {
    color:#74b9ff;
    background: black;
}

/* Left Dashboard Menu */
table {
    background-color: #fff;
    border-radius: 16px;
    table-layout: fixed;
}

th {
    border: 1px solid pink;
}

tr {
    border: 1px solid red;
}

td { 
    border: 1px solid blue;
    margin: 0;
    padding: 5px;
}

tbody {
    border: 1px solid purple;
}

#ai-response {
    border: 1px solid black;
    padding: 5px;
    margin: 0;
}

.hideondesktop {
    display: none;
}

@media (max-width: 1024px) {
    .hideonmobile {
        display: none;
    }

    .mobile-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    /* figure out content height */
    .dashboard-container {
        border-radius: 0;
        height: 100vh;
        width: 100vw;
        background-color: transparent !important;
        font-weight: 700;
    }
    .dashboard-container #content {
        /* min-height: 100vh; */
        display: flex;
        flex-direction: column;
        background-color: transparent;
        gap: 0;
    }
    .dashboard-container img {
        border-radius: 50%;
    }
    .dashboard-container #leagues {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid black;
    }

    .starters table,
    .bench table {
        background-color: transparent;
        width: 100%;
        table-layout: fixed;
        border: none;
        border-spacing: 0;
    }

    .starters td,
    .bench td {
        border: none;
    }

    .bench td {
        background-color: #004181;
    }

    #starter-players {
        /* width: 100vw; */
    }
}