#insight-btn {
    background-color: #207ad4;
    color: white;
    padding: .5rem 1.2rem;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#insight-btn:hover {
    color:#74b9ff;
    background: black;
}

.ai-container #content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}