/* Dashboard Container */
.dashboard-container #content {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.dashboard-container #content .roster {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.dashboard-container table {
    border: 1px solid black;
    text-align: center;
}

.dashboard-container tr, th, td {
    border: 1px solid black;
    padding: 10px;
}