<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fumbld AI | Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard/dashboard.css') }}">
</head>
<body>
    <!-- Header -->
    <header>
        <!-- Nav Menu -->
        <nav class="nav-bar">
            <button class="hamburer-button" id="hamburgerButton">&#9776;</button>
            <a href="{{ url_for('main.home') }}"><img src="{{ url_for('static', filename='img/fumbld-small-logo.png') }}" alt="fumbld-ai Logo"></a>
            <div class="nav-links" id="navLinks">
                <ul>
                    <li><a href="{{ url_for('main.home') }}">Home</a></li>
                    <li><a href="{{ url_for('main.home') }}">About</a></li>
                    <li><a href="/register" role="button" style="color: green;">Register</a></li>
                    <li><a href="/logout" role="button">Log Out</a></li>
                </ul>
            </div>
        </nav>
        <!-- End Nav Section-->
    </header>
    <!-- End Header -->

    <!-- {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
            <div class="flash-error">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %} -->

    <main>
        <div class="user-nav-container">
            <div id="dashboard"><span id="user-nav-link">Dashboard</span></div>
            <div id="ai"><span id="user-nav-link">Recommendation</span></div>
            <div id="matchups"><span id="user-nav-link">Matchups</span></div>
            <div id="rankings"><span id="user-nav-link">Player Rankings</span></div>
            <div id="settings"><span id="user-nav-link">Settings</span></div>
        </div>

        <div class="main-container">
            <!-- User Dashboard -->
            <div class="dashboard-container">
                <div id="header">
                    <p>Dashboard | Welcome {{ username }}</p>
                </div>

                <div id="content">
                    <div class="selections">
                        <select id="year">
                            <!-- 2023/2024 will be removed when the season starts -->
                            <option value="2023">2023 (Removed Soon)</option>
                            <option value="2024">2024 (Removed Soon)</option>
                            <option value="2025">2025</option>
                        </select>

                        <select id="leagues">
                            <option value="">--Select an option--</option>  
                        </select>

                        <button id="refresh">Refresh Data</button>
                    </div>

                    <div class="roster">
                        <div class="starters">
                            <table id="starters">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="sub-header">Starters</th>
                                    </tr>
                                </thead>
                                <tbody id="starter-players">
                                    <!-- Filled via API -->
                                </tbody>
                            </table>
                        </div>

                        <div class="bench">
                            <table id="bench">
                                <thead>
                                    <tr>
                                        <th colspan="2" class="sub-header">Bench</th>
                                    </tr>
                                </thead>
                                <tbody id="bench-players">
                                        <!-- Filled via API -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!-- AI Recommendations -->
            <div class="ai-container">
                <div id="header">
                    <p>AI Recommendation</p>
                </div>

                <div id="content">
                    AI Content
                </div>
            </div>

            <!-- Weekly Matchups -->
            <div class="matchup-container">
                <div id="header">
                    <p>Weekly Matchup</p>
                </div>

                <div id="content">
                    {% if user_team %}
                    <table>
                        <thead>
                            <tr>
                                <th colspan="4" class="main-header">Week 16</th>
                            </tr>
                            <tr>
                                <th colspan="2" class="sub-header">Your Starters</th>
                                <th colspan="2" class="sub-header">Opponent Starters</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in range(user_team|length) %}
                                <tr>
                                    <td class="position-label">{{ user_team[i].position }}</td>
                                    <td class="player-name">{{ user_team[i].name }}</td>

                                    <td class="position-label">{{ opp_team[i].position }}</td>
                                    <td class="player-name">{{ opp_team[i].name }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>You are not authenticated in Yahoo!</p>
                    {% endif %} 
                </div>
            </div>

            <!-- Player Rankings -->
            <div class="rankings-container">
                <div id="header">
                    <p>Player Rankings</p>
                </div>

                <div id="content">
                    Player Rankings
                </div>
            </div>

            <!-- Settings -->
            <div class="settings-container">
                <div id="header">
                    <p>Settings</p>
                </div>

                <div id="content">
                    <a id="yahoo-link" href="/yahoo/authorize"><img id="yahoo-img" src="../static/img/assets/yahoo_button.png"></a>
                    <p><a href="/logout">Click here to logout.</a></p>
                </div>
            </div>
        </div>
    </main>
    
    <!-- Footer -->
    <footer>
        <div class="footer-container">
            <div class="footer-nav">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>Copyright&copy; 2025 <span class="footer-design">Fumbld </span>AI</p>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>